<% const keys = ["first_name", "last_name","email","age","role"];const servicesItems =
 [{name:"Users", className:"fa-solid fa-user",cardStyle:"bg-orange-500", link:"/user", id:"user", content:"CRUD operations on users"},
 {name:"Classes",className:"fa-sharp fa-solid fa-users",cardStyle:"bg-red-500", link:"/class",id:"class",content:"CRUD operations on classes"},
 {name:"Subjects",className:"fa-solid fa-book",cardStyle:"bg-indigo-500", link:"/subject", id:"subject",content:"CRUD operations on subjects"} ]
%>
<!DOCTYPE html>
<html>

<head>
  <title>Dashboard</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="bg-gray-100">
  <%- include("../partials/navbar") %>
  <section class="flex">
    <%- include("../partials/sidebar",{link:"dashboard"}) %>
    <article class="p-4 flex flex-col flex-1 gap-4">
      <%- include("../partials/components/data_display/typography",{props:{type:"subheading", innerText:`Hi, ${user.first_name.charAt(0).toUpperCase()}${user.first_name.slice(1)}`}}) %>
      <%- include("../partials/components/data_display/typography",{props:{type:"title", innerText:"Scholarly Services"}}) %>
      <section class="grid grid-cols-auto md:grid-cols-5 gap-4 w-full">
        <% servicesItems.forEach(item=>{%>
        <a href="<%=item.link  %>" class="bg-white space-y-2 p-4 border border-gray-300 rounded-xl  active:scale-95 transition-all <%=item.cardStyle%> text-white">
          <i class="<%=`${item.className} text-4xl`%>">
          </i>
          <div>
          <%- include("../partials/components/data_display/typography",{props:{type:"subheading", innerText:item.name}}) %>
          <%- include("../partials/components/data_display/typography",{props:{type:"small", innerText:item.content}}) %>
        </div>
        </a>
        <% }) %>
      </section>
    </article>
  </section>
  <script>
    const addUserForm = document.querySelector("#addUserForm");
    const addUserFormHandler = async (e) => {
      e.preventDefault();
      console.log(addUserForm);
      const accessToken = '<%=user.accessToken%>';
      try {
        const formResponse = await axios.post("/api/user", {
          first_name: addUserForm.first_name.value,
          last_name: addUserForm.last_name.value,
          email: addUserForm.email.value,
          gender: addUserForm.gender.value,
          age: addUserForm.age.value,
          role: addUserForm.role.value,
        }, {
          headers: {
            authorization: `Bearer ${accessToken}`
          }
        });
        const addedUserData = await formResponse.data;
        console.log(addedUserData);
      } catch (error) {
        console.log(error);
      }
    }
    addUserForm.addEventListener("submit", addUserFormHandler);
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
</body>

</html>