<% const keys = ["first_name", "last_name","email","age","role"];
%>
<!DOCTYPE html>
<html>

<head>
  <title>Users</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="bg-gray-100">
  <%- include("../partials/navbar") %>
  <section class="flex">
    <%- include("../partials/sidebar" ,{link:"user"}) %>
    <article class="p-4 flex flex-col">
      <h1 class="text-xl">Hi, <%= `${user.first_name.charAt(0).toUpperCase()}${user.first_name.slice(1)}` %> </h1>
      <%- user.role === "admin" ? include("../partials/admin/summary"):null%>
    </article>
  </section>
  <script>
    const addUserForm = document.querySelector("#addUserForm");
    const addUserFormHandler = async (e) => {
      e.preventDefault();
      console.log(addUserForm);
      const accessToken = '<%=user.accessToken%>';
      try {
        const formResponse = await axios.post("/api/user", {
          first_name: addUserForm.first_name.value,
          last_name: addUserForm.last_name.value,
          email: addUserForm.email.value,
          gender: addUserForm.gender.value,
          age: addUserForm.age.value,
          role: addUserForm.role.value,
        }, {
          headers: {
            authorization: `Bearer ${accessToken}`
          }
        });
        const addedUserData = await formResponse.data;
        console.log(addedUserData);
      } catch (error) {
        console.log(error);
      }
    }
    addUserForm.addEventListener("submit", addUserFormHandler);
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
</body>

</html>